.block {
  margin-bottom: 200px;

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }

  &__slider-slide {
    max-width: 400px;
    width: 100%;
  }
}
