.breadcrumbs {
  margin-bottom: 70px;
  padding: 10px 0;


  &__wrapp {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    justify-content: flex-start;
    user-select: none;
  }


  &__prev {
    position: relative;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--breadcrumbs-arrow);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__current {
    white-space: nowrap;
  }
}
