.socials {
  display: flex;
  flex-direction: column;
  grid-gap: 100px;

  &__slider {
    width: 100%;
  }

  &__slider-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__slider-slide {
    max-width: 440px;
    width: 100%;
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
    color: var(--color-heavy-rain);

    svg {
      fill: var(--color-heavy-rain);
      transition: all 0.1s;
    }

    &:hover,
    &:active {
      color: var(--color-dark-gray);

      svg {
        fill: currentColor;
      }
    }
  }
}
