.lang {
  @media (max-width: 1240px) {
    order: 1;
  }

  @media (max-width: 769px) {
    order: initial;
  }

  &__list {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    @media (max-width: 769px) {
      grid-gap: 30px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__radio {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;

    &:checked ~ .lang__name {
      color: var(--color-dark-gray);
    }
  }
}
