.news {
  display: flex;
  flex-direction: column;

  &__pubtime {
    margin-bottom: 8px;
  }

  &__image {
    max-width: 400px;
    margin-bottom: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
}
